nav{
    & .nav-section-menu{
        display: flex;
        & .menu-icon{
            padding: .5rem;
            border-radius: 50%;
            :hover&{
                cursor: pointer;
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }
}

nav{
    justify-content: space-between;
    & .nav-section-right{
        display: none;
    }
    & .nav-section-left{
        & .logo-icon{
            font-size: 1.5rem;
        }
        & .abstract-logo-text-container{
            & p:nth-child(1){
                font-size: 1.5rem;
            }
            & p:nth-child(2){
                display: none;
            }
            & p:nth-child(3){
                display: none;
            }& p:nth-child(2){
                display: none;
            }
        }
    }
}

.main-section{
    padding: 3rem;
    /* border: 1px solid red; */
    /* padding: 0; */
    & .main-section-container{
        padding: 1rem;
        /* border: 1px solid red; */
        & .main-input-container{
            & input{
                min-width: 1rem;
            }
        }
    }
}

.aside-section{
    padding: 3rem;

    & .card{
        width: 100%;
    }
}